# 忽略Python字节码文件
__pycache__/

# 忽略数据库文件
db.sqlite3

# 忽略静态文件目录下的所有文件和文件夹，除了.gitkeep（用于保持空文件夹）
/static/*
!/static/.gitkeep

# 忽略媒体文件目录下的所有文件和文件夹，除了.gitkeep（用于保持空文件夹）
/media/*
!/media/.gitkeep

# 忽略环境配置文件
.env

# 忽略IDE或编辑器生成的文件
.idea/
.vscode/
*.pyc
*.pyo
*.pyd

# 忽略日志文件
*.log

# 忽略配置文件中的敏感信息
secrets.json
